[package]
name = "assets"
version = "0.1.0"

[lib]
doctest = false

[dependencies]
anyhow.workspace = true
gpui.workspace = true
rust-embed = { version = "8.7.2", features = ["interpolate-folder-path"] }
